<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analysis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css"/>
</head>
<body>
<header class="nav">
    <div class="container">
        <div class="nav-left">
            <a class="nav-item">
                HackHate
                <!--<img src="images/bulma-type-white.png" alt="Logo">-->
            </a>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu">
            <a class="nav-item is-active">
                Home
            </a>
            <a class="nav-item" href="#">
                API
            </a>
            <span class="nav-item">
            <a class="button is-info is-inverted">
              <span class="icon">
                <i class="fa fa-github"></i>
              </span>
              <span>Source Code</span>
            </a>
          </span>
        </div>
    </div>
</header>

<section class="section">
    <div class="container">
        <h1 class="title">
            Analysis
        </h1>

        <h2 class="title is-5">
            Text:
        </h2>
        <p>
            {{ text }}
        </p>
    </div>
</section>

</body>
</html>